In [5]:
import pandas as pd 
import numpy as np
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [6]:
df = pd.read_csv("/Users/mayurimamdi/Downloads/fashion_products.csv")

In [7]:
df.head()

   User ID  Product ID Product Name   Brand  ... Price    Rating   Color Size
0       19           1        Dress  Adidas  ...    40  1.043159   Black   XL
1       97           2        Shoes     H&M  ...    82  4.026416   Black    L
2       25           3        Dress  Adidas  ...    44  3.337938  Yellow   XL
3       57           4        Shoes    Zara  ...    23  1.049523   White    S
4       79           5      T-shirt  Adidas  ...    79  4.302773   Black    M

[5 rows x 9 columns]

In [9]:
df['Product ID'].value_counts()

Product ID
1       1
672     1
659     1
660     1
661     1
       ..
339     1
340     1
341     1
342     1
1000    1
Name: count, Length: 1000, dtype: int64

This means Product Id is unique for every user

In [10]:
df['User ID'].value_counts()

User ID
37    18
65    17
34    16
89    15
80    15
      ..
14     5
45     5
85     4
86     3
47     2
Name: count, Length: 100, dtype: int64